export OS_AUTH_URL=dsfdas
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=dsfa
export OS_PROJECT_DOMAIN_NAME=dsfa
export OS_USERNAME=asdf
export OS_USER_DOMAIN_NAME=ds
export OS_PASSWORD=dasf
